<VirtualHost *:80>
    ServerAdmin {{nagios_admin_email}}
    ServerName {{nagios_host}}
    Redirect / https://{{nagios_host}}/
</VirtualHost>

<VirtualHost *:443>
    ServerAdmin {{nagios_admin_email}}
    ServerName {{nagios_host}}

    ScriptAlias /nagios/cgi-bin "/usr/local/nagios/sbin"

    RedirectMatch ^/$ /nagios/

    <Directory "/usr/local/nagios/sbin">
       Options ExecCGI
       AllowOverride None
       Order allow,deny
       Allow from all
       AuthName "Nagios Access"
       AuthType Basic
       AuthUserFile /usr/local/nagios/etc/htpasswd.users
       Require valid-user
    </Directory>

    Alias /nagios "/usr/local/nagios/share"

    <Directory "/usr/local/nagios/share">
       Options None
       AllowOverride None
       Order allow,deny
       Allow from all
       AuthName "Nagios Access"
       AuthType Basic
       AuthUserFile /usr/local/nagios/etc/htpasswd.users
       Require valid-user
    </Directory>

    SSLEngine On
    SSLCertificateFile {{nagios_ssl_cert_pem}}
    SSLCertificateKeyFile {{nagios_ssl_cert_key}}
</VirtualHost>
